.fighter{
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.fighterImg {
    position: absolute;
    max-height: 100%;
    z-index: -1;
}

.fighterInfo {
    position: absolute;
    color: white;
    margin: auto;
    text-align: center;
    background-color: royalblue;
    bottom: 0;
    width: 100%;
    padding: 10px 0px;
}

#Luke .fighterImg{
    left: -30px;
    top: -20px;
}